<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :ssn %><br>
    <%= f.text_field :ssn %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br>
    <%= f.date_select :birthdate %>
  </div>
  <div class="field">
    <%= f.label :address_line_1 %><br>
    <%= f.text_field :address_line_1 %>
  </div>
  <div class="field">
    <%= f.label :address_line_2 %><br>
    <%= f.text_field :address_line_2 %>
  </div>
  <div class="field">
    <%= f.label :address_line_3 %><br>
    <%= f.text_field :address_line_3 %>
  </div>
  <div class="field">
    <%= f.label :telephone_mobile %><br>
    <%= f.text_field :telephone_mobile %>
  </div>
  <div class="field">
    <%= f.label :telephone_office %><br>
    <%= f.text_field :telephone_office %>
  </div>
  <div class="field">
    <%= f.label :telephone_private %><br>
    <%= f.text_field :telephone_private %>
  </div>
  <div class="field">
    <%= f.label :personnel_number %><br>
    <%= f.text_field :personnel_number %>
  </div>
  <div class="field">
    <%= f.label :first_work_day %><br>
    <%= f.date_select :first_work_day %>
  </div>
  <div class="field">
    <%= f.label :working_hours_total %><br>
    <%= f.text_field :working_hours_total %>
  </div>
  <div class="field">
    <%= f.label :working_hours_per_day %><br>
    <%= f.text_field :working_hours_per_day %>
  </div>
  <div class="field">
    <%= f.label :holidays %><br>
    <%= f.number_field :holidays %>
  </div>
  <div class="field">
    <%= f.label :holidays_left %><br>
    <%= f.number_field :holidays_left %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :overtime_hours %><br>
    <%= f.text_field :overtime_hours %>
  </div>
  <div class="field">
    <%= f.label :job_description %><br>
    <%= f.text_area :job_description %>
  </div>
  <div class="field">
    <%= f.label :internal_notes %><br>
    <%= f.text_area :internal_notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
